<div id="<%= dom_id slot %>">
  <p>
    <strong>Parent name:</strong>
    <%= slot.parent_name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= slot.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= slot.end_time %>
  </p>

  <p>
    <strong>School class:</strong>
    <%= slot.school_class_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= slot.comment %>
  </p>

</div>
